/* Dans votre fichier CSS global (e.g., App.css) */
@font-face {
  font-family: 'MyFont';
  src: url('/public/pokemon/PokemonHollow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Dans votre fichier CSS global (e.g., App.css) */
@font-face {
  font-family: 'MyFont1';
  src: url('/public/pokemon/PokemonSolid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Utilisez la police */
body {
  font-family: 'MyFont', sans-serif;
  font-family: 'MyFont1', sans-serif;
}


/* Utilisez la police */
body {
  font-family: 'MyFont', sans-serif;
}


/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

/* Pokedex container */
.pokedex-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
h1 {
  text-align: center;
  color: #e60000;
}

/* Filter buttons */
button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #e60000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #cc0000;
}

/* Pokémon list */
.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* Pokémon card */
.pokemon-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: translateY(-10px);
}

/* Pokémon name */
.pokemon-card h2 {
  margin: 10px 0;
  color: #333;
}

/* Pokémon description */
.pokemon-card p {
  margin: 5px 0;
  color: #666;
}

/* Pokémon image */
.pokemon-card img {
  width: 120px; /* Set a fixed width */
  height: 120px; /* Set a fixed height */
  object-fit: contain; /* Ensure the image fits within the specified dimensions */
  margin: 10px 0;
}

/* Type container */
.pokemon-card .type-container {
  margin-top: 10px;
}

/* Type badge */
.pokemon-card .type {
  padding: 5px 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: inline-block;
  margin: 5px 5px 0 0; /* Spacing between type badges */
}

/* Stats */
.pokemon-card .stats {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}
